# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

code/Discrete_RL/.vscode
code/Discrete_RL/build
Code/Discrete_RL/plots/.ipynb_checkpoints
Code/Discrete_RL/output
.DS_Store